.idea/
.run/
venv/
backups/
.venv/
*/**/__pycache__/
__pycache__/*
*/**/*egg-info/
.coverage
build/
tokens/
dist/
data/accounts/
tests/.coverage
.env
**/*.pickle
.pytest_cache
temp/
**/*.log
/*/**/node_modules/
lefthook.yml
env/*

!env/*.*.*
/.venv/
/backup
.job
iqt.egg-info
src/webdriver
devices.json
data/*


